@{
    ViewBag.Title = "Clientes";
}
<h2>Clientes</h2>
<hr />
<div id="cabecalho">
    <a id="btn_incluir" class="btn btn-success" role="button">
        <i class="glyphicon glyphicon-plus"></i> Incluir
    </a>
</div>
<br />

<div>
    <table id="grid_cliente" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in ViewBag.Cliente)
            {
                <tr data-id="@cliente.Id">
                    <td>@cliente.Id</td>
                    <td>@cliente.Nome</td>
                    <td>@cliente.Telefone</td>
                    <td>@cliente.Endereco</td>
                    <td>@cliente.Numero</td>
                    <td>@cliente.Complemento</td>
                    <td>@cliente.Bairro</td>
                    <td>@cliente.Cidade</td>
                    <td>
                        <a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>
                        <a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal_cadastro" class="form-horizontal invisivel" role="dialog">
    <fieldset>
        <div class="row">
            <div class="form-group">
                @Html.Label("txt_codigo", "Código", new { @class = "col-md-3 control-label" })
                <div class="col-md-2">
                    @Html.TextBox("txt_codigo", null, new { @class = "form-control", disabled = "true" })
                </div>
                <br><br>
                @Html.Label("txt_nome", "Nome do Cliente", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBox("txt_nome", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_telefone", "Telefone", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBox("txt_telefone", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_endereco", "Endereço", new { @class = "col-md-3 control-label" })
                <div class="col-md-9">
                    @Html.TextBox("txt_endereco", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_numero", "Numero", new { @class = "col-md-3 control-label" })
                <div class="col-md-2">
                    @Html.TextBox("txt_numero", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_complemento", "Complemento", new { @class = "col-md-3 control-label" })
                <div class="col-md-3">
                    @Html.TextBox("txt_complemento", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_bairro", "Bairro", new { @class = "col-md-3 control-label" })
                <div class="col-md-3">
                    @Html.TextBox("txt_bairro", null, new { @class = "form-control" })
                </div>
                <br><br>
                @Html.Label("txt_cidade", "Cidade", new { @class = "col-md-3 control-label" })
                <div class="col-md-3">
                    @Html.TextBox("txt_cidade", null, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="modal-footer">
                        <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Sair</a>
                        <a id="btn_confirmar" class="btn btn-primary" role="button"><i class="glyphicon glyphicon-ok"></i> Salvar</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>

@section Scripts{
    <script>
        //Exibição do Form Modal
        function abrir_form(dados) {
            if (dados.Id > 0)
                $('#txt_codigo').val(dados.Id);
            else
                $('#txt_codigo').val('');

            $('#txt_nome').val(dados.Nome);
            $('#txt_telefone').val(dados.Telefone);
            $('#txt_endereco').val(dados.Endereco);
            $('#txt_numero').val(dados.Numero);
            $('#txt_complemento').val(dados.Complemento);
            $('#txt_bairro').val(dados.Bairro);
            $('#txt_cidade').val(dados.Cidade);


            var modal_cadastro = $('#modal_cadastro');

            bootbox.dialog({
                title: '@ViewBag.Title',
                message: modal_cadastro
            })
            .on('shown.bs.modal', function () {
                modal_cadastro.show(0, function () {
                    $('#txt_nome').focus();
                });
            })
            .on('hidden.bs.modal', function () {
                modal_cadastro.hide().appendTo('body');
            });
        }

        //Linha na tabela
        function criar_linha_grid(dados) {
            var ret = '<tr data-id=' + dados.Id + '>' +
                        '<td>' + dados.Id + '</td>' +
                        '<td>' + dados.Nome + '</td>' +
                        '<td>' + dados.Telefone + '</td>' +
                        '<td>' + dados.Endereco + '</td>' +
                        '<td>' + dados.Numero + '</td>' +
                        '<td>' + dados.Complemento + '</td>' +
                        '<td>' + dados.Bairro + '</td>' +
                        '<td>' + dados.Cidade + '</td>' +
                        '<td>' +
                            '<a class="btn btn-primary btn-alterar" role="button"><i class="glyphicon glyphicon-pencil"></i>Alterar</a>' +
                            '<a class="btn btn-danger btn-excluir" role="button"><i class="glyphicon glyphicon-trash"></i>Excluir</a>' +
                        '</td>' +
                '</tr>';

            return ret;
        }

                //Evento click do botão incluir
        $(document).on('click', '#btn_incluir', function () {
            abrir_form({ Id: 0, Nome: '', Telefone: '', Endereco: '', Numero: '', Complemento: '', Bairro: '', Cidade: ''});
        })

        //Evento click do botão alterar
        .on('click', '.btn-alterar', function () {
            var btn = $(this),
                id = btn.closest('tr').attr('data-id'),
                url = '@Url.Action("ObterCliente", "Cadastro")',
                param = { 'id': id };

            $.post(url, param, function (response) {
                if (response) {
                    abrir_form(response);
                }
            });
        })

        //Evento click do botão excluir
        .on('click', '.btn-excluir', function () {
            var btn = $(this),
                tr = btn.closest('tr'),
                id = tr.attr('data-id'),
                url = '@Url.Action("ExcluirCliente", "Cadastro")',
                param = { 'id': id };

            bootbox.confirm({
                message: "Confirmar a exclusão do Cliente?",
                buttons: {
                    confirm: {
                        label: 'Sim',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Não',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post(url, param, function (response) {
                            if (response) {
                                tr.remove();
                            }
                        });
                    }
                }
            });
        })

                //Evento click do botão Salvar do form modal
        .on('click', '#btn_confirmar', function () {
            var btn = $(this),
                url = '@Url.Action("SalvarCliente", "Cadastro")',
                param = {
                    Id: $('#txt_codigo').val(),
                    Nome: $('#txt_nome').val(),
                    Telefone: $('#txt_telefone').val(),
                    Endereco: $('#txt_endereco').val(),
                    Numero: $('#txt_numero').val(),
                    Complemento: $('#txt_complemento').val(),
                    Bairro: $('#txt_bairro').val(),
                    Cidade: $('#txt_cidade').val()
                };

            $.post(url, param, function (response) {
                if (param.Id == 0) {
                    var table = $('#grid_cliente').find('tbody'),
                        linha = criar_linha_grid(response);

                    table.append(linha);
                }
                else {
                    var linha = $('#grid_cliente').find('tr[data-id=' + param.Id + ']').find('td');
                    linha
                        .eq(0).html(param.Id).end()
                        .eq(1).html(param.Nome).end()
                        .eq(2).html(param.Telefone).end()
                        .eq(3).html(param.Endereco).end()
                        .eq(4).html(param.Numero).end()
                        .eq(5).html(param.Complemento).end()
                        .eq(6).html(param.Bairro).end()
                        .eq(7).html(param.Cidade);
                }

                $('#modal_cadastro').parents('.bootbox').modal('hide');
            })
        })
    </script>
}